@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(197, 28, 197), rgb(26, 164, 219));
}

.container{
    width: 400px;
    background: #fff;
    padding: 50px 35px 10px 35px;
    border-radius: 5px;
    text-align: center;
}

.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer{
    width: 100%;;
    overflow: hidden;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
    transition: margin-left .3s ease-in-out;
}

.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field{
    width: 330px;
    margin: 45px 0;
    display: flex;
    height: 45px;
    position: relative;
}

.form-outer form .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid lightgray;
}

.form-outer form .page input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding-left: 15px;
}

.form-outer form .page .field button{
    border: none;
    outline: none;
    height: calc(100% + 5px);
    width: 100%;
    margin-top: -20px;
    background: #d43f8f;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: all .3s ease;
}

.form-outer form .page .field button:hover{
    background: #000;
}

.form-outer form .page .btns button{
    margin-top: -20px !important;;
}

form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next{
    margin-right: 3px;
}

.container .progress-bar{
    display: flex;
    margin: 40px 0;
}

.container .progress-bar .step{
    text-align: center;
    position: relative;
    width: 100%;
}

.progress-bar .step p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
    transition: .3s;
}

.progress-bar .step.active p{
    color: #d43f8d;
}

.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after{
    display: none;
}

.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after{
    content: "";
    width: 44px;
    height: 3px;
    position: absolute;
    background: #262626;
    right: -51px;
    bottom: 11px;
}

.progress-bar .step .bullet::after{
    transform: skewX(0);
    transform-origin: left;
    animation: animate .3s linear forwards;
}

.progress-bar .step.active .bullet::after{
    background: #d43f8d;
}

@keyframes animate{
    100%{
        transform: skewX(1);
    }
}

.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    display: inline-block;
    position: relative;
    line-height: 25px;
}

.progress-bar .step.active .bullet{
    border-color: #d43f8d;
    transform: .3s;
}

.progress-bar .step span{
    position: absolute;
    font-weight: 500;
    font-size: 17px;
    left: 50%;
    transform: translateX(-50%);
    transform: .3s;
}

.progress-bar .step.active span{
    display: none;
}


.progress-bar .step .fa-check{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    display: none;
    transform: .3s;
}

.progress-bar .step.active .fa-check{
    display: block;
    color: #d43f8d;
}