@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4A98F7;
}

.container{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
}

section{
    background: #fff;
    border-radius: 7px;
}

.tools-board{
    padding: 15px 22px 0;
    width: 210px;
}

.tools-board .row{
    margin-bottom: 20px;
}

.row .options{
    margin: 10px 0 0 5px;
    list-style: none;
}

.row .option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    cursor: pointer;
    color: #5A6168;
}

.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(300%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.option:is(:hover,.active) :where(span,label){
    color: #4A98F7;
}

.option #fill-color{
    height: 14px;
    width: 14px;
    cursor: pointer;
}

#fill-color:checked ~ label{
    color: #4A98F7;
}

#size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
    display: flex;
    justify-content: space-between;
}

.colors .options .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    position: relative;
    margin-top: 3px;
}

.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2){
    background-color: #000;
}

.colors .option:nth-child(3){
    background-color: #E02020;
}

.colors .option:nth-child(4){
    background-color: #6DD400;
}

.colors .option:nth-child(5){
    background: #4A98F7;
}

.colors .option.selected:before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
}

.colors .option:first-child.selected::before{
    border-color: #ccc;
}

#color-picker{
    opacity: 0;
    cursor: pointer;
}

.buttons button{
    width: 100%;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    background: none;
    padding: 11px 0;
    margin-bottom: 13px;
    cursor: pointer;
}

.buttons .clear-canvas{
    border: 1px solid #6C757D;
    color: #6C757D;
    transition: all .3s ease-;
}

.clear-canvas:hover{
    background: #6C757D;
    color: #fff;
}

.buttons .save-image{
    border: 1px solid #4A98F7;
    background-color: #4A98F7;
}

.drawing-board{
    flex: 1;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
}