*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #0ed3c6;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
}

h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

h2{
    margin: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 15px;
}

p{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    color: #444;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 1.09rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #999;
    margin: 10px 0;
    font-weight: 500;
}

.but{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 15px;
    width: 48%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: #0ed3c6;
    border: none;
    border-radius: 5px;;
    margin: 10px 0;
    cursor: pointer;
    transition: all .4s;
}

.btn:first-child{
    background: gray;
}

.btn:hover{
    letter-spacing: 1px;
}


