*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: blueviolet;
}

.wrapper{
    background: #fff;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;gap: 10px;
}

.captcha{
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    align-items: center;
    font-weight: 600;
    width: 70%;
    font-size: .9rem;
    letter-spacing: 4px;
}

header button{
    width: 28%;
}

.captcha span:nth-child(2){
    transform: translateY(-8px);
    color: #999;
}

.captcha span:nth-child(4){
    transform: translateY(-3px);
    color: #999;
}

.captcha span:nth-child(5){
    transform: translateY(-8px);
}

.captcha span:nth-child(6){
    transform: translateY(-6px);
    color: #999;
}

.captcha span:nth-child(7){
    transform: translateY(-2px);
}

.captcha span:nth-child(8){
    transform: translateY(-8px);
    color: #999;
}

input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: .95rem;
}

button{
    background:  blueviolet;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}