@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #17a2b8;
}

.wrapper{
    width: 770px;
    background: #fff;
    border-radius: 5px;
    padding: 35px;
}

.wrapper .content-box{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 20px 20px 20px;
}

.typing-box{
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.typing-box p{
    /* word-break: break-all; */
    text-align: justify;
    font-size: 1rem;
}

.typing-box p span.correct{
    color: #56964f;
}

.typing-box p span.incorrect{
    color: #cb3439;background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-box p span{
    position: relative;
}

.typing-box p span.active{
    color: #17a2b8;
}

.typing-box p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink{
    50%{
        opacity: 1;
    }
}

.input-field{
    z-index: -999;
    position: absolute;
    opacity: 0;;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.result-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.result-details li{
    list-style: none;
    display: flex;
    align-items: center;
}

li span{
    margin-left: 10px;
}

li:not(:first-child) span{
    font-weight: 500;
}

li:not(:first-child){
    border-left: 1px solid #999;
    padding-left: 30px;
}

li b{
    font-weight: 500;
}

button{
    padding: 5px 10px;
    background: #17a2b8;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: .9rem;
    transition: transform .2s ease;
}

button:active{
    transform: scale(.95);
}