*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    margin: auto;
}

h1{
    margin-bottom: 15px;
}

table{
    margin: auto;
}

.calculator{
    display: inline-block;
    background: hsl(300, 79%, 76%);
    padding: 20px;
    border-radius: .5rem;
    border: 3px solid rgb(32, 163, 207)
}

input{
    width: 26.3vw;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    height: 5vw;
    border: 2px solid;
    border-radius: .5rem;
}

button{
    width: 6vw;
    height: 4vw;
    margin: 4px;
    border-radius: .5rem;
    background: rgb(209, 208, 208);
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}