*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dcacfe;
}

.wrapper{
    width: 400px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.container{
    height: 400px;
    position: relative;
}

.bowl{
    width: 250px;
    background: rgb(188, 220, 232);
    height: 100px;
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 100px;
    border-radius: 0 0 150px 150px;
}

.bowl::before{
    content: "";
    position: absolute;
    width: 270px;
    height: 30px;
    background: rgb(160, 222, 244);
    left: -10px;
    border-radius: 50px;
}

.base{
    width: 30px;
    height: 40px;
    background: rgb(160, 222, 244);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

.base::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 50px;
    background: rgb(188, 220, 232);
    top: 100%;
    left: -150%;
    border-radius: 50px 50px 0 0;
}

.scoop1{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(239, 94, 118);
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 25px 120px;
    background-image: radial-gradient(circle at 12.5px 17px, #f8bd3d 20px, transparent 21px);
}

.scoop2{
    height: 130px;
    width: 130px;
    position: absolute;
    border-radius: 50%;
    background: rgb(131, 220, 131);
    top: 120px;
    left: 45%;
}

.scoop3{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    background-color: #f58619;
    top: 120px;
    left: 35%;
    transform: translateX(-50%);
    background-size: 25px 80px;
    background-image: radial-gradient(circle at 12.5px 17px, #5c0003 20px, transparent 21px);
}

.buttons{
    display: flex;
    flex-wrap: wrap;width: 100%;
    align-items: center;
    border-top: 2px dashed #000;
    padding-top: 25px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.buttons button{
    width: 47%;
    height: 40px;
    border: none;
    background: #ae61b0;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}