@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
}

.container{
    width: 430px;
    height: 350px;
}

.container .wrapper{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.active{
    border: none;
}

.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper .icon{
    font-size: 100px;
    color: #9658fe;
}

.wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
}

.wrapper #cancel-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #9658fe;
    display: none;
}

.wrapper.active:hover #cancel-btn{
    display: block;
}

.wrapper #cancel-btn:hover{
    color: red;
}

.wrapper.active:hover .file-name{
    display: block;
}

.wrapper .file-name{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe);
    padding: 8px 0;
    color: #fff;
    font-size: 18px;;
    display: none;
}

.container #custom-btn{
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe);
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}