body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: greenyellow;
}

.form{
    position: absolute;
    top: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    width: 500px;
}

.form input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    outline: none;
    font-family: cursive;
    border-radius: 10px 10px 0 0;
}

.form input::placeholder{
    color: lightgray;
}

.lists{
    padding: 0;
    margin: 0;;
}

.lists li{
    padding: 20px;
    list-style-type: none;
    font-size: 20px;
    font-family: cursive;
    border-top: 1px dotted #666;
    background: yellow;
    position: relative;
}

.lists li .fa-square-check{
    position: absolute;
    right: 45px;
    color: green;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.lists li .fa-trash{
    position: absolute;
    right: 20px;
    color: red;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.lists li.checked{
    color: darkgray;
    text-decoration: line-through;
}

.lists li.checked .fa-square-check{
    color: darkgray;
}