@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(42, 153, 197);
}

.wrapper{
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    overflow: hidden;
}

.login{
    transition: all .3s;
}

.login.hide{
    display: none;
    transition: all .3s;
}

.signup{
    display: none;
    transition: all .3s;
}

.signup.show{
    display: block;
    transition: all .3s;
}

header{
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
}

header::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: rgb(42, 153, 197);
    bottom: 0;
    border-radius: 3px;
}

form{
    margin-top: 40px;
}

.field{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #999;
    gap: 10px;
    margin-bottom: 20px;
    height: 50px;
}

.field input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

.field i{
    color: #999;
    font-size: 1.2rem;
}

.showPass{
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info input{
    cursor: pointer;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background: rgb(42, 153, 197);
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin: 30px 0;
    cursor: pointer;
    transition: all .4s;
}

button:active{
    transform: scale(.98);
}

p{
    text-align: center;
}