*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: orange;
}

.wrapper{
    background: #fff;
    width: 400px;border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    padding: 30px 20px;
}

.inputs{
    display: flex;
    justify-content: space-between;
}

.inputs label{
    font-weight: 600;
}

.inputs .left{
    width: 45%;
    overflow: hidden;
}

input{
    border: none;
    border-bottom: 2px solid gray;
    font-size: 1rem;
    outline: none;
    padding: 5px;
    margin-top: 8px;
}

button{
    background: orange;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    font-size: 1rem;
    margin: 20px 0;
    cursor: pointer;
}

.leap-years{
    display: none;
    gap: 5px;
    font-size: .9rem;
    text-align: center;
    color:#333;
}

.leap-years.active{
    display: flex;
    flex-direction: column;
}