*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: orange;
}

.wrapper{
    background: #fff;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 40px;
    position: relative;
}

#options-container{
    text-align: center;
}

#options-container div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
    gap: 15px;
}

#options-container button{
    height: 40px;
    width: 100%;
    border: 2px solid #000000;
    border-radius: .3em;
    text-transform: capitalize;
    background: #ffffff;
    color: #000000;
    font-size: .9rem;
}

#options-container button:disabled{
    border: 2px solid #808080;
    color: #808080;
    background: #efefef;
}

#options-container button.active{
    background: orange;
    border-color: #000000 ;
    color: #000000;
}

.letter-container{
    display: flex;
    justify-content: center;
    gap: .6em;
    flex-wrap: wrap;
    width: 100%;
}

.letter-container button{
    width: 2.4em;
    height: 2.4em;border-radius: .3em;
    background: #fff;
}

.new-game-popup{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 10px;
    flex-direction: column;
}

.dashes{
    margin-left: 5px;
}

.hide{
    display: none;
}

#user-input-section{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: .6em 0 1.2em 0;
}

canvas{
    border: 2px solid #555555;
    display: block;
    margin: auto;
    border-radius: .3em;
}

#result-text{
    font-size: 1.8em;
    text-align: center;
}

#result-text p{
    font-size: 1.25em;
    margin: 20px 0;
}

#new-game-button{
    height: 40px;
    padding: 10px;
    border-radius: .3em;
    border: 2px solid #000000;
    background: orange;
    cursor: pointer;
}

.win-msg{
    color: #39d78d;
}

.lose-msg{
    color: #fe5152;
}