*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(21, 127, 169);
}

.wrapper{
    width: 600px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding:30px;
}

.field{
    width: 100%;
    position: relative;
    height: 130px;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

.field span{
    color: rgb(21, 127, 169);
}

.field  .text{
    position: absolute;
    bottom: 5px;
    right: 20px;
    display: none;
}

.field .text.active{
    display: block;
}

.field textarea{
    border: none;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    font-size: 1rem;
    resize: none;
}


