*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(239, 187, 91);
}

.container{
    background: orangered;
    width: 400px;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
}

.left{
    width: 80%;
    display: flex;
    gap: 20px;
}

.player{
    background: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player.active{
    animation: rotate .8s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.inner-role{
    background: #000;
    border: 15px solid orange;
    height: 15px;
    padding: 8px;
    width: 15px;
    border-radius: 50%;
}

.player::after,
.player::before{
    content: "";
    position: absolute;
    border:4px solid rgba(164, 134, 79,.3);
    width: 50%;
    height: 50%;
    border-top-color: #000;
    border-bottom-color: #000;
    border-radius: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.player::before{
    width: 70%;
    height: 70%;
}

.control{
    width: 40px;
    height: 40px;border: 10px solid #333;
    border-radius: 50%;
    padding: 5px;
    background: #000;
    margin-left: 0px;
    z-index: 11;
}

.ton-arm::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 6px;
    background: #fff;
    bottom: -36px;
    right: 10px;
    transform: rotate(30deg);
}

.ton-arm::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 15px;
    background: #bbb7b7;
    bottom: -36px;
    right: 12px;
    transform: rotate(30deg);
}

.ton-arm{
    height: 90px;
    background: #fff;
    width: 6px;
    position: absolute;
    left: 53.5%;
    margin-top: 10px;
    transition: transform .4s ease;
}

.ton-arm.active{
    transform: rotate(30deg) translateX(-10px);
}

.right{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    transform: rotate(270deg);
    margin-top: 30px;
    -webkit-appearance: none;
    background: orangered;
    border: 5px solid rgb(243, 107, 57);
    outline: none;
}

input::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
}

button{
    background: rgb(243, 107, 57);
    height: 30px;width: 30px;
    border-radius: 50%;
    border: 3px solid rgb(239, 187, 91);
    margin-top: 30px;
    cursor: pointer;
}