*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(39, 161, 209);
    padding: 10px;
}

.pagination ul{
    display: flex;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
}

.pagination ul li{
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 50%;
}

.pagination ul .dots{
    font-size: 22px;
}

.pagination ul li.numb{
    height: 45px;
    border-radius: 50%;
    width: 45px;
    margin: 0 3px;
}

.pagination ul li.btn{
    padding: 0 20px;
}

.pagination ul .btn span{
    display: flex;
    align-items: center;
}

.pagination ul li.prev{
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next{
    border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
    background: rgb(39, 161, 209);
    color: #fff;
}