*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(218, 230, 235);
    box-sizing: border-box;
}

.heading{
    background: rgba(255, 166, 0, 0.777);
    padding: 2rem;
}

.btn-container{
    padding-top: 1rem;
    display: flex;
    justify-content: right;
    padding-right: 3rem;
}

#addNote{
    height: 40px;
    background: none;
    width: 140px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background 1s;
    transform-origin: left;
    cursor: pointer;
    border: none
}

#addNote span{
    background: orange;
    align-items: center;
    padding: 12px 14px;
    border-radius: 50%;
    color: #fff;
}

#addNote span.text{
    background: none;
    color: #000;
    padding: none;
    transition: color 1s;
}

#addNote span.long{
    display: none;
    transition: display 1s ;
}

#addNote:hover{
    background: orange;
    color: #fff;
}

#addNote:hover span.text{
    color: #fff;
}

#addNote:hover span.chevron{
    display: none;
}
#addNote:hover span.long{
    display: inline-block;
}



.note{
    width: 400px;
    background: #fff;
    height: 200px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgba(0,0,0,.3), -6px -6px 10px rgba(0,0,0,.3);
    display: inline-block;
    margin: 2rem;
    transition: box-shadow .5s;
    /* overflow: hidden;
    box-sizing: border-box; */
}

.note:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,.3), -3px -3px 10px rgba(0,0,0,.3);
}

.oprate{
    text-align: right;
    padding: 1rem;
}

.note button{
    padding: 3px 5px;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: .8rem;
    margin: 0 3px;
    cursor: pointer;
    transition: background .5s;
}

textarea{
    border: none;
    resize: none;
    padding: 1rem;
    outline: none;
    width: 80%;
}

.main{
    padding: 1rem;
}

.note button:hover.edit,
.note button:hover.delete{
    background: #fff;
    color: #000;
}

.note button.edit{
    background: lightblue;
}

.note button.delete{
    background: red;
}

.hidden{
    display: none;
}








